@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  margin-bottom: auto;
  padding: 15px;
}

.content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer {
  display: flex;
  margin-top: auto;
  padding: 15px;
  background-color: #eeeeee;
}

.left-links {
  display: flex;
  gap: 15px;
  padding: 0;
}

.right-links {
  display: flex;
  margin-left: auto;
  gap: 15px;
}

li {
  list-style-type: none
}

a {
  text-decoration: none;
  color: gray;
}

body{
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px;
}